h2{
    width: 70%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;   
}
article {
    margin: auto;
    width: 70%;
    height: 100%;
    display: flex;
}
#cesta_container {
    width: 68%;
    height: 400px;
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 3px 2px 2px 3px crimson;
    overflow-y: scroll;
}
#cesta_container h2 {
    width: fit-content;
    margin-left: 40px;
}
hr {
    width: 90%;
    margin: auto;
}
.produtos_lista {
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.produto_box {
    display: flex;
}
.produto_img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.produto_img img{
    width: 100px;
    height: 100px;
}

.produto_titulo {
    text-align: center;
    align-self: center;
}
.quant {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    width: 100px;
    height: 30px;
    border: 1px solid black;
    justify-content: space-between;
}
.menos, .mais {
    width: 30px;
    height: 100%;
    border: none;
}
.qtd {
    margin: 0;
    align-self: center;
}
.preco {
    font-size: 13pt;
    text-align: right;
    align-self: center;
    width: 100px;
    margin-left: 5px;
}

.result_container {
    width: 30%;
    height: 400px;
    background-color: white;
    margin-left: auto;
    border-radius: 10px;
    box-shadow: 3px 2px 2px 3px crimson;
}
.result {
    color: black;
    margin-left: 20px;
    margin-top: 10px;
}
.total {
    font-size: 18pt;
    margin-bottom: 0;
}
.parce {
    margin-top: 0px;
}
#quant_prod {
    margin-top: 20px;
}
.btn_content {
    width: 90%;
    margin: auto;
}
.btn_next {
    display: block;
    text-align: center;
    line-height: 50px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: crimson;
    color: white;
    font-size: larger;
    margin-top: 200px;
    cursor: pointer;
}
.btn_next:hover {
    background-color: royalblue;
}
.mais, .menos{
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 745px) {
    #cesta_container{
        width: 100%;
    }

    article{   
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .produtos_lista{
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }

    .produto_titulo{
        font-size: 12pt;
    }

    .produto_box{
        justify-content: space-between;
    }

    .quant{
        margin-top: 5px;
        margin-left: auto;
    }

    .preco{
        margin-left: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .result_container{
        width: 100%;
        margin-top: 15px;
    }

    .btn_next{
        font-size: 15px;
        margin-top: 20%;
    }


    footer{
        position: relative;
        top: 400px;
        border: none;
        font-size: 15px;
    }
}

@media screen and (min-width: 746px) and (max-width: 1024px){
    #cesta_container{
        width: 100%;
        margin-right: 15px;
        position: relative;
        right: 45px;
    }

    .result_container{
        margin-left: -10px;
        width: 250px;
    }

    footer{
        border: none;
    }

    .btn_next{
        font-size: 15px;
    }

    .preco{
        margin-left: 10px;
    }
}

@media screen and (min-width: 1025px){
    footer{
        border: none;
    }
}